.cardContainer {
	/* height: 100%; */
	/* position: absolute; */
}

.cardTop {
	height: 40px;
	width: 100%;
	background-color: #cb1717;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
}
.cardTop p,
span {
	margin: 0;
	font-size: 14px;
}

.cardMain {
	/* height: 100px; */
	width: 100%;
	color: #fff;
}

.cardMain img {
	width: 80px;
	height: auto;
}
